## **Bibliography**

**IA = Input Antara** \
Penggunaan berbagai barang dan jasa oleh suatu sektor dalam kegiatan produksi dari sektor-sektor lain, dan juga produksi sendiri. Barang-barang yang digunakan sebagai input antara biasanya habis sekali pakai, seperti bahan baku, bahan penolong dan sebagainya. 

**FD = Final Demand** \
k

## **Packages**

In [88]:
import pandas as pd
import numpy as np

## **Data**

In [3]:
file_name = "Data.xlsx"
sheet_name = "IRIO-PDD (52x52)"

content = pd.read_excel(file_name, sheet_name, header=None, index_col=None, engine="openpyxl")

In [9]:
content.head(20)

,0,1,2,3,4,5,6,7,8,9,...,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953
0,NaN,Tabel Inter Regional Input-Output Indonesia Tr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Provinsi,Deskripsi,Kode,11. Aceh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Permintaan Antara,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Pertanian Tanaman Pangan,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Perkebunan Semusim dan Tahunan,Peternakan,Jasa Pertanian dan Perburuan,Kehutanan dan Penebangan Kayu,...,Konsumsi LNPRT,Konsumsi Pemerintah,Pembentukan Modal Tetap Bruto,Perubahan Inventori,Total Ekspor Antar Provinsi,Total Ekspor Luar Negeri,Total Ekspor,Total Permintaan Akhir,Total Permintaan,Total Output
5,NaN,NaN,NaN,NaN,I-01,I-02,I-03,I-04,I-05,I-06,...,3012,3020,3030,3041,3072,3071,3080,3090,3100,6000
6,NaN,11. Aceh,Pertanian Tanaman Pangan,I-01,333994.250234,0,0,107960.139323,0,0,...,0,0,0,221152.569342,0,0,0,641281.041047,7271146.069291,7271146.069291
7,NaN,NaN,"Pertanian Tanaman Hortikultura Semusim, Hortik...",I-02,0,195130.623265,0,57868.751547,0,0,...,0,0,178470.083155,-23023.323258,0,19672.435426,19672.435426,5366051.510057,7057897.900984,7057897.900984
8,NaN,NaN,Perkebunan Semusim dan Tahunan,I-03,0,0,820969.683293,5488.501569,0,0,...,0,0,3606600.643756,2465441.750457,0,124328.243194,124328.243194,6961974.971119,13922763.143793,13922763.143793
9,NaN,NaN,Peternakan,I-04,4511.646719,331519.237933,187871.168031,74117.653858,2762.270498,39531.559585,...,0,0,2095637.587806,-2740.176239,0,23.913587,23.913587,3212388.480657,6065319.77677,6065319.77677
10,NaN,NaN,Jasa Pertanian dan Perburuan,I-05,276291.599677,66321.742224,95764.600195,47367.315398,0,0,...,0,0,0,0,0,0,0,4320.784799,919196.611309,919196.611309
11,NaN,NaN,Kehutanan dan Penebangan Kayu,I-06,0,0,0,0,206.757177,73739.65057,...,0,0,0,-51116.24004,0,3240.286581,3240.286581,49839.099348,2401750.466357,2401750.466357
12,NaN,NaN,Perikanan,I-07,0,0,0,0,0,0,...,0,0,306207.581091,-51.554065,0,5202.559574,5202.559574,6575697.288991,8675716.092933,8675716.092933
13,NaN,NaN,"Pertambangan Minyak, Gas dan Panas Bumi",I-08,0,0,0,0,0,0,...,0,0,0,43141.186549,0,0,0,43141.186549,3196442.331388,3196442.331388
14,NaN,NaN,Pertambangan Batubara dan Lignit,I-09,0.992079,0.049142,1.17097,0.056534,0.061309,1.00853,...,0,0,8989.926604,-15794.54619,0,80660.247896,80660.247896,73862.376807,518331.121912,518331.121912
15,NaN,NaN,Pertambangan Bijih Logam,I-10,0,0,0,0,0,0,...,0,0,1552.656387,237.908584,0,42.514205,42.514205,1834.242199,332442.379099,332442.379099
16,NaN,NaN,Pertambangan dan Penggalian Lainnya,I-11,9.307082,0.558951,4.7219,3.803072,1.860447,3.603993,...,0.000027,0.014292,668631.329591,100580.921017,0,18278.775516,18278.775516,788080.508857,5213514.95695,5213514.95695
17,NaN,NaN,Industri Batubara dan Pengilangan Migas,I-12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,Industri Makanan dan Minuman,I-13,3163.168434,1620.849704,8700.495012,534132.705201,27307.307715,1177.084442,...,0.423958,247900.488323,10666.268814,4950.140047,0,16365.138633,16365.138633,7802109.216904,12108595.549018,12108595.549018
19,NaN,NaN,Industri Pengolahan Tembakau,I-14,0.079423,0.004906,0.011388,0.046711,0.021644,0.004368,...,0,0,0.822692,2178.535648,0,0.33541,0.33541,88325.670215,92648.264271,92648.264271

## **Indexes**

In [5]:
n_prov = 34     # Jumlah provinsi
n_ind = 52      # jumlah industri/provinsi
n_fd = 5        # jumlah komponen Final Demand/provinsi
n_ntb = 3       # jumlah komponen NTB/provinsi

In [114]:
content.shape

(1783, 1954)

In [115]:
# indeks matriks permintaan/input antara
f_ia_row = 6    # 7 (7-1) 
f_ia_col = 4    # E (5-1)
l_ia_row = f_ia_row + n_prov*n_ind  # baris terakhir IA
l_ia_col = f_ia_col + n_prov*n_ind  # kolom terakhir IA

# indeks matriks Final demand
f_fd_row = 6
f_fd_col =l_ia_col + 1              # setelah semua matriks IA + 1 kolom total IA
l_fd_row = l_ia_row                 # sama dengan baris terakhir IA
l_fd_col = f_fd_col + n_prov*n_fd

# indeks matriks NTB
f_ntb_row = l_ia_row + 4            # 4 baris setelah baris terakhir IA
f_ntb_col =f_ia_col                 # sama dengan kolom IA
l_ntb_row = f_ntb_row + n_ntb
l_ntb_col = l_ia_col                # sama dengan kolom IA

# indeks vektor Final Demand Total
f_fdt_row = l_ia_row + 3            # sama dengan baris IA
f_fdt_col = f_fd_col             # sama dengan kolom FD
l_fdt_col = l_fd_col             # sama dengan kolom FD


# indeks vektor expor LN
f_xln_row = f_ia_row             # sama dengan baris IA
f_xln_col = l_fd_col + 6         # 6 kolom setelah kolom terakhir FD domestik
l_xln_row = l_ia_row             # sama dengan baris IA

# indeks vektor impor LN pada Input Antara
f_mln_ia_row = l_ia_row + 1         # 1 baris setelah baris terakhir IA
f_mln_ia_col = f_ia_col             # sama dengan kolom IA
l_mln_ia_col = l_ia_col             # sama dengan kolom IA

# indeks vektor impor LN pada FD
f_mln_fd_row = l_ia_row + 1         # 1 baris setelah baris terakhir IA
f_mln_fd_col = f_fd_col             # sama dengan kolom FD
l_mln_fd_col = l_fd_col             # sama dengan kolom FD

# indeks vektor impor AP pada Input Antara
f_map_ia_row = l_ia_row + 2         # 2 baris setelah baris terakhir IA
f_map_ia_col = f_ia_col             # sama dengan kolom IA
l_map_ia_col = l_ia_col             # sama dengan kolom IA

# indeks vektor impor AP pada FD
f_map_fd_row = l_ia_row + 2         # 2 baris setelah baris terakhir IA
f_map_fd_col = f_fd_col             # sama dengan kolom FD
l_map_fd_col = l_fd_col             # sama dengan kolom FD

In [117]:
# mengambil nama-nama provinsi/Industri/FD/dll

# mengambil kode dan nama provinsi
prov_dup = content.iloc[f_ia_row:l_ia_row, 1].dropna()
kode_prov = [x[:2] for x in prov_dup]
nama_prov = [x[4:] for x in prov_dup]

kode_prov_dup = np.repeat(kode_prov, n_ind, axis=0)
nama_prov_dup = np.repeat(nama_prov, n_ind, axis=0)

prov = pd.DataFrame({"kode_prov" : kode_prov, "nama_prov" : nama_prov})
prov

   kode_prov             nama_prov
0         11                  Aceh
1         12        Sumatera Utara
2         13        Sumatera Barat
3         14                  Riau
4         15                 Jambi
5         16      Sumatera Selatan
6         17              Bengkulu
7         18               Lampung
8         19  Kep. Bangka Belitung
9         21             Kep. Riau
10        31           DKI Jakarta
11        32            Jawa Barat
12        33           Jawa Tengah
13        34         DI Yogyakarta
14        35            Jawa Timur
15        36                Banten
16        51                  Bali
17        52   Nusa Tenggara Barat
18        53   Nusa Tenggara Timur
19        61      Kalimantan Barat
20        62     Kalimantan Tengah
21        63    Kalimantan Selatan
22        64      Kalimantan Timur
23        65      Kalimantan Utara
24        71        Sulawesi Utara
25        72       Sulawesi Tengah
26        73      Sulawesi Selatan
27        74     Sulawesi Tenggara
28        75             Gorontalo
29        76        Sulawesi Barat
30        81                Maluku
31        82          Maluku Utara
32        91           Papua Barat
33        94                 Papua

In [119]:
# mengambil Kode dan Nama Industri
kode_ind_dup = content.iloc[f_ia_row:l_ia_row, 3]
nama_ind_dup = content.iloc[f_ia_row:l_ia_row, 2]

kode_ind = kode_ind_dup.unique()
nama_ind = nama_ind_dup.unique()
ind = pd.DataFrame({"kode_ind" : kode_ind, "nama_ind" : nama_ind})
ind

   kode_ind                                           nama_ind
0      I-01                          Pertanian Tanaman Pangan
1      I-02  Pertanian Tanaman Hortikultura Semusim, Hortik...
2      I-03                     Perkebunan Semusim dan Tahunan
3      I-04                                        Peternakan
4      I-05                     Jasa Pertanian dan Perburuan
5      I-06                      Kehutanan dan Penebangan Kayu
6      I-07                                         Perikanan
7      I-08            Pertambangan Minyak, Gas dan Panas Bumi
8      I-09                   Pertambangan Batubara dan Lignit
9      I-10                           Pertambangan Bijih Logam
10     I-11                Pertambangan dan Penggalian Lainnya
11     I-12            Industri Batubara dan Pengilangan Migas
12     I-13                      Industri Makanan dan Minuman
13     I-14                       Industri Pengolahan Tembakau
14     I-15                  Industri Tekstil dan Pakaian Jadi
15     I-16   Industri Kulit, Barang dari Kulit dan Alas Kaki
16     I-17  Industri Kayu, Barang dari Kayu dan Gabus dan ...
17     I-18  Industri Kertas dan Barang dari Kertas, Percet...
18     I-19       Industri Kimia, Farmasi dan Obat Tradisional
19     I-20      Industri Karet, Barang dari Karet dan Plastik
20     I-21                 Industri Barang Galian bukan Logam
21     I-22                              Industri Logam Dasar
22     I-23  Industri Barang dari Logam, Komputer, Barang E...
23     I-24               Industri Mesin dan Perlengkapan YTDL
24     I-25                             Industri Alat Angkutan
25     I-26                                  Industri Furnitur
26     I-27  Industri Pengolahan Lainnya, Jasa Reparasi dan...
27     I-28                                 Ketenagalistrikan
28     I-29                      Pengadaan Gas dan Produksi Es
29     I-30  Pengadaan Air, Pengelolaan Sampah, Limbah, dan...
30     I-31                                         Konstruksi
31     I-32    Perdagangan Mobil, Sepeda Motor dan Reparasinya
32     I-33  Perdagangan Besar dan Eceran, Bukan Mobil dan ...
33     I-34                                      Angkutan Rel
34     I-35                                     Angkutan Darat
35     I-36                                     Angkutan Laut
36     I-37            Angkutan Sungai Danau dan Penyeberangan
37     I-38                                     Angkutan Udara
38     I-39  Pergudangan dan Jasa Penunjang Angkutan, Pos d...
39     I-40                              Penyediaan Akomodasi
40     I-41                             Penyediaan Makan Minum
41     I-42                      Jasa Informasi dan Komunikasi
42     I-43        Jasa Perantara Keuangan Selain Bank Sentral
43     I-44                          Asuransi dan Dana Pensiun
44     I-45                              Jasa Keuangan Lainnya
45     I-46                            Jasa Penunjang Keuangan
46     I-47                                        Real Estate
47     I-48                                    Jasa Perusahaan
48     I-49  Administrasi Pemerintahan, Pertahanan dan Jami...
49     I-50                                    Jasa Pendidikan
50     I-51                 Jasa Kesehatan dan Kegiatan Sosial
51     I-52                                       Jasa Lainnya

In [121]:
# mengambil kode dan Nama Komponen FD
kode_fd_dup = content.iloc[5, f_fd_col:l_fd_col]
nama_fd_dup = content.iloc[4, f_fd_col:l_fd_col]

kode_fd = kode_fd_dup.unique()
nama_fd = nama_fd_dup.unique()

komp_fd = pd.DataFrame({"kode_fd" : kode_fd, "nama_fd" : nama_fd})
komp_fd

  kode_fd                        nama_fd
0    3011          Konsumsi Rumah Tangga
1    3012                 Konsumsi LNPRT
2    3020            Konsumsi Pemerintah
3    3030  Pembentukan Modal Tetap Bruto
4    3041            Perubahan Inventori

In [122]:
# Komponen NTB
kode_ntb = content.iloc[f_ntb_row:l_ntb_row, 3]
nama_ntb = content.iloc[f_ntb_row:l_ntb_row, 1]

kode_ntb_dup = list(kode_ntb.values)*n_prov
nama_ntb_dup = list(nama_ntb.values)*n_prov

komp_ntb = pd.DataFrame({"kode_ntb" : kode_ntb, "nama_ntb" : nama_ntb})
komp_ntb

     kode_ntb                                           nama_ntb
1778     2010                            Kompensasi Tenaga Kerja
1779     2020  Surplus Usaha (termasuk pendapatan campuran) B...
1780     2045                   Pajak Neto Subsidi Atas Produksi

## **Dataset PDRB**

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN INDUSTRI**

In [133]:
data_pdrb = pd.DataFrame(columns=["kode_prov", "nama_prov", "jenis_pdrb", "kode_komp", "nama_komp", "nilai_jt"])

# PDRB INDUSTRI
TOT_NTB_IND_BY_PROV = content.iloc[l_ia_row + 7, f_ia_col:l_ia_col]

data_ind = pd.DataFrame({"kode_prov"    : kode_prov_dup,
                         "nama_prov"    : nama_prov_dup,
                         "jenis_pdrb"   : "PRODUKSI",
                         "kode_komp"    : kode_ind_dup,
                         "nama_komp"    : nama_ind_dup,
                         "nilai_jt"     : TOT_NTB_IND_BY_PROV.values})


# Menyimpan data pada variabel data_pdrb
data_pdrb = pd.concat([data_pdrb, data_ind], axis=0)
data_pdrb

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
6,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5870077.532341
7,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5883898.8695
8,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,10247247.968196
9,11,Aceh,PRODUKSI,I-04,Peternakan,4150957.827013
10,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,726496.821323
...,...,...,...,...,...,...
1769,94,Papua,PRODUKSI,I-48,Jasa Perusahaan,1968670.930658
1770,94,Papua,PRODUKSI,I-49,"Administrasi Pemerintahan, Pertahanan dan Jami...",14775106.184412
1771,94,Papua,PRODUKSI,I-50,Jasa Pendidikan,4094046.534573
1772,94,Papua,PRODUKSI,I-51,Jasa Kesehatan dan Kegiatan Sosial,1838407.913364
1773,94,Papua,PRODUKSI,I-52,Jasa Lainnya,2839379.499556

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN KOMPONEN PENGELUARAN**

In [134]:
PENGELUARAN = "PENGELUARAN"

FDT_BY_PROV = content.iloc[f_fdt_row, f_fdt_col:l_fdt_col]

data_fd_dom = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)],
                            "nama_prov": [x for x in nama_prov for y in range(0, n_fd)],
                            "jenis_pdrb": "PENGELUARAN",
                            "kode_komp": kode_fd_dup,
                            "nama_komp": nama_fd_dup,
                            "nilai_jt": FDT_BY_PROV.values})

data_pdrb2 = pd.concat([data_pdrb, data_fd_dom], axis=0)  # Menambah data pada variabel data_pdrb
data_pdrb2

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
6,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5870077.532341
7,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5883898.8695
8,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,10247247.968196
9,11,Aceh,PRODUKSI,I-04,Peternakan,4150957.827013
10,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,726496.821323
...,...,...,...,...,...,...
1938,94,Papua,PENGELUARAN,3011,Konsumsi Rumah Tangga,73706458.03486
1939,94,Papua,PENGELUARAN,3012,Konsumsi LNPRT,3012455.266981
1940,94,Papua,PENGELUARAN,3020,Konsumsi Pemerintah,37111738.647964
1941,94,Papua,PENGELUARAN,3030,Pembentukan Modal Tetap Bruto,53950587.300478
1942,94,Papua,PENGELUARAN,3041,Perubahan Inventori,-910310.032845

**MENGAMBIL KOMPONEN EKSPOR-IMPOR LUAR NEGERI DAN ANTAR PROVINSI**

In [135]:
IA = content.iloc[f_ia_row:l_ia_row, f_ia_col:l_ia_col]  # Matriks IA lengkap
IA.index = kode_prov_dup
IA.columns = kode_prov_dup

FD = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]  # Matriks IA lengkap
FD.index = kode_prov_dup
FD.columns = [x for x in kode_prov for y in range(0, n_fd)]

### Fungsi untuk menjumlahkan setiap kolom PA kecuali sub-matriks diagonalnya
### Jika provinsi pada Kolom = Provinsi pada Baris maka tidak dijumlahkan

IA_PART = IA.loc[IA.index == "11", IA.columns != "11"]
X_IA_AP = IA_PART.sum().sum()

FD_PART = FD.loc[FD.index == "11", FD.columns != "11"]
X_FD_AP = FD_PART.sum().sum()

X_IA_AP+X_FD_AP

31991520.34221484

In [136]:
# BAGIAN YANG RUMIT KARENA POSISINYA PADA TABEL BERPENCAR DAN PERLU BEBERAPA PROSES YANG BERBEDA SATU SAMA LAIN

#============================================================================================================#
#== EKSPOR LN ==#
#============================================================================================================#

kode_xln = "3071"                   # Hardcoding saja (hanya satu klasifikasi)
nama_xln = "Ekspor Luar Negeri"     # Hardcoding saja (hanya satu klasifikasi)

EX_LN_BY_PROV = content.iloc[f_xln_row:l_xln_row, f_xln_col]

data_xln = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": EX_LN_BY_PROV.values})

data_xln = data_xln.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

data_xln["nama_prov"] = nama_prov
data_xln["jenis_pdrb"] = PENGELUARAN
data_xln["kode_komp"] = kode_xln
data_xln["nama_komp"] = nama_xln

data_pdrb = pd.concat([data_pdrb, data_xln], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#
#== EKSPOR AP ==#
#============================================================================================================#

### Bagian slicing dan summmation yang agak tricky untuk penghitungan dari IRIO
### secara baris...menjumlahkan setiap kolom kecuali pada setiap submatriks diagonal [34*52] dan [34*4]
### karena pada setiap sub-matriks  diagonal [34*52] menunjukkan transaksi domestik, sisanya adalah ekspor-impor AP
### untuk impor : kebetulan di baris denganw kode "2001" sudah ditotalkan

### Bagian EKSPOR pada IA dan FD
IA = content.iloc[f_ia_row:l_ia_row, f_ia_col:l_ia_col]  # Matriks IA lengkap
IA.index = kode_prov_dup
IA.columns = kode_prov_dup

FD = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]  # Matriks IA lengkap
FD.index = kode_prov_dup
FD.columns = [x for x in kode_prov for y in range(0, n_fd)]

### Fungsi untuk menjumlahkan setiap kolom PA kecuali sub-matriks diagonalnya
### Jika provinsi pada Kolom = Provinsi pada Baris maka tidak dijumlahkan

def sum_ekspor_ap(kode_prov):
    IA_PART = IA.loc[IA.index == kode_prov, IA.columns != kode_prov]
    X_IA_AP = IA_PART.sum().sum()           # menjumlahkan seluruh data, baris dan kolom

    FD_PART = FD.loc[FD.index == kode_prov, FD.columns != kode_prov]
    X_FD_AP = FD_PART.sum().sum()           # menjumlahkan seluruh data, baris dan kolom

    return X_IA_AP + X_FD_AP


### Apply fungsi sum_ekspor_ap untuk setiap provinsi
data_x_ap = [sum_ekspor_ap(kode) for kode in kode_prov]

kode_xap = "3072"                      # Hardcoding saja (hanya satu klasifikasi)
nama_xap = "Ekspor Antar Provinsi"     # Hardcoding saja (hanya satu klasifikasi)

data_x_ap = pd.DataFrame({
                            "kode_prov" : kode_prov,
                            "nama_prov" : nama_prov,
                            "jenis_pdrb": PENGELUARAN,
                            "kode_komp" : kode_xap,
                            "nama_komp" : nama_xap,
                            "nilai_jt"  : data_x_ap
                        })

data_pdrb = pd.concat([data_pdrb, data_x_ap], axis=0)  # Menambah data pada variabel data_pdrb
#============================================================================================================#



#============================================================================================================#
#== IMPOR LN ==#
#============================================================================================================#

kode_mln = "2000"                   # Hardcoding saja (hanya satu klasifikasi)
nama_mln = "Impor Luar Negeri"     # Hardcoding saja (hanya satu klasifikasi)

### Harus menghitung Impor LN pada sisi input Antara dan Impor LN pada sisi FD
IM_LN_IA_BY_PROV = content.iloc[f_mln_ia_row, f_mln_ia_col:l_mln_ia_col]   # Impor LN sisi IA

data_iln_ia = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": IM_LN_IA_BY_PROV.values})

data_iln_ia = data_iln_ia.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

IM_LN_FD_BY_PROV = content.iloc[f_mln_fd_row, f_mln_fd_col:l_mln_fd_col]   # Impor LN sisi FD

data_iln_fd = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)], "nilai_jt": IM_LN_FD_BY_PROV.values})

data_iln_fd = data_iln_fd.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

### Karena jumlah dan urutan indeks sudah pasti sama jumlahkan secara langsung saja antara Impor LN pada sisi IA dan FD
tot_iln = data_iln_fd[["nilai_jt"]].values + data_iln_ia[["nilai_jt"]].values

tot_iln = np.array(tot_iln).flatten()*-1    # Impor merupakan komponen pengurang (untuk kemudahan agregasi maka dinegatifkan saja)

data_iln = pd.DataFrame({"kode_prov": kode_prov,
                         "nama_prov": nama_prov ,
                         "jenis_pdrb": PENGELUARAN,
                         "kode_komp": kode_mln,
                         "nama_komp": nama_mln,
                         "nilai_jt": tot_iln})

data_pdrb = pd.concat([data_pdrb, data_iln], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#



#============================================================================================================#
#== IMPOR AP ==#
#============================================================================================================#

kode_map = "2001"                     # Hardcoding saja (hanya satu klasifikasi)
nama_map = "Impor Antar Provinsi"     # Hardcoding saja (hanya satu klasifikasi)

### Harus menghitung Impor LN pada sisi input Antara dan Impor LN pada sisi FD
IM_AP_IA_BY_PROV = content.iloc[f_map_ia_row, f_map_ia_col:l_map_ia_col]   # Impor AP sisi IA

data_map_ia = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": IM_AP_IA_BY_PROV.values})

data_map_ia = data_map_ia.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

IM_AP_FD_BY_PROV = content.iloc[f_map_fd_row, f_map_fd_col:l_map_fd_col]   # Impor AP sisi FD

data_map_fd = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)],
                            "nilai_jt": IM_AP_FD_BY_PROV.values})

data_map_fd = data_map_fd.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

### Karena jumlah dan urutan indeks sudah pasti sama jumlahkan secara langsung saja antara Impor AP pada sisi IA dan FD
tot_map = data_map_fd[["nilai_jt"]].values + data_map_ia[["nilai_jt"]].values

tot_map = np.array(tot_map).flatten()*-1  # Impor merupakan komponen pengurang (untuk kemudahan agregasi maka dinegatifkan saja)

data_map = pd.DataFrame({"kode_prov": kode_prov,
                         "nama_prov": nama_prov ,
                         "jenis_pdrb": PENGELUARAN,
                         "kode_komp": kode_map,
                         "nama_komp": nama_map,
                         "nilai_jt": tot_map})

data_pdrb = pd.concat([data_pdrb, data_map], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN KOMPONEN NTB**

In [137]:
# PDRB PENDAPATAN
NTB_INC_BY_PROV = content.iloc[f_ntb_row:l_ntb_row, f_ntb_col:l_ntb_col]

## Ganti kolom menjadi nama provinsi
NTB_INC_BY_PROV.columns = kode_prov_dup
NTB_INC_BY_PROV["kode_komp"] = kode_ntb
NTB_INC_BY_PROV["nama_komp"] = nama_ntb
NTB_INC_BY_PROV["jenis_pdrb"] = "PENDAPATAN"

## Transformasi WIDE menjadi LONG
NTB_INC_BY_PROV = pd.melt(NTB_INC_BY_PROV, id_vars=['kode_komp', 'nama_komp', 'jenis_pdrb'],
                  value_vars=kode_prov_dup,
                  var_name='kode_prov',
                  value_name='nilai_jt')

# Agregasi nilai  menurut provinsi dan komponen NTB
NTB_INC_BY_PROV = NTB_INC_BY_PROV.groupby(["kode_prov", "kode_komp", "nama_komp", "jenis_pdrb"]). \
    agg({"nilai_jt" : "sum"}).reset_index()

NTB_INC_BY_PROV["nama_prov"] = [x for x in nama_prov for y in range(0, n_ntb) ]

# Tambahkan pada variabel data_pdrb
data_pdrb3 = pd.concat([data_pdrb2, NTB_INC_BY_PROV], axis=0)

In [139]:
# CHECK : nilai PDRB Total berdasarkan 3 Pendekatan sudah sesuai dan nilai ketiganya sama
data_pdrb3.groupby(["jenis_pdrb"]).agg({"nilai_jt": "sum"})

                       nilai_jt
jenis_pdrb
PENDAPATAN   12645817838.407934
PENGELUARAN  12580754492.754873
PRODUKSI     12645817838.407909

In [140]:
# CHECk : PDRB berdasarkan 3 pendekatan nilainya sama baik level nasional maupun per provinsi
# berbedaan belakang koma karena faktor pembulatan saja

data_pdrb3.groupby(["kode_prov", "jenis_pdrb"]).agg({"nilai_jt": "sum"})

                               nilai_jt
kode_prov jenis_pdrb
11        PENDAPATAN   134554529.480085
          PENGELUARAN  180528938.116437
          PRODUKSI     134554529.480085
12        PENDAPATAN   558988617.035108
          PENGELUARAN  579139778.280125
...                                 ...
91        PENGELUARAN   51554268.896638
          PRODUKSI      67862465.154667
94        PENDAPATAN   146364079.456101
          PENGELUARAN  166870929.217437
          PRODUKSI     146364079.456101

[102 rows x 1 columns]

In [144]:
# CHECK : Ekspor IMPOR antar wilayah secara agregat harus sama (berbeda tanda)
data_pdrb3[data_pdrb3["jenis_pdrb"]=="PENGELUARAN"].groupby("nama_komp").agg({"nilai_jt": "sum"})

                                        nilai_jt
nama_komp
Konsumsi LNPRT                  144944697.746068
Konsumsi Pemerintah             1094181417.38914
Konsumsi Rumah Tangga          7119909001.632966
Pembentukan Modal Tetap Bruto  4139130416.986309
Perubahan Inventori              82588959.000381

In [ ]:
data_pdrb3.to_csv("data_pdrb.csv", index=False)